.add{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img_product{
    margin-top: 5px;

}
span{
    font-size: larger;
    font-weight: bold;
}
.drop{
    column-gap: 15px;
    display: flex;
}

.icon-trash {
    width:100px;
    height: 100px;
    fill:green;
  }
  .imgUpdate{
      width: 50px;
      height: 50px;
      margin-left: 25px;
  }
  .trash-lid {
    transform-origin: right bottom;
    transition: transform 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  
  .icon-trash:hover .trash-lid {
    transform: translateY(-2px) rotate(30deg);
  }
  
  /* Presentational Styles */
  
  .col{
      border-left: 3px solid grey;
  }
  .row{
    border-bottom: 3px solid grey;
  }